/* CSS for Body */
.App {
  height: 500px;
  width: 500px;
  text-align: center;
  margin: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
