.header {
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  margin: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

  svg {
    // position: absolute;
    color: gray;
    height: 0.75rem;
  }

  input {
    padding-left: 5px;
    border-radius: 8px;
    border: 1px solid gray;
    width: 80%;
  }
}