.header {
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  margin: 20px;
  width: 100%;

  svg {
    position: absolute;
    color: gray;
    height: 0.75rem;
    padding-top: 10px;
  }

  input {
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid gray;
    width: 80%;
  }
}