.table {
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 8px;
  border-spacing: 0;
  white-space: nowrap;
  // white-space: normal;
  table-layout: fixed;


  thead, tbody, tr {
    display: block;
  }

  tr {
    padding: 10px;
    display: flex;

    .copied-text-column {
      flex: 1;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th, td {
      padding: 0 10px;
    }

    .icon {
      color: hsl(0, 0%, 40%);
    }

    .disabled {
      opacity: 50%;
    }

    .red-icon {
      color: red;
    }

    .yellow-icon {
      color: #ccaa00;
    }
  }

  thead {
    border-radius: 7px 7px 0 0;
    background: lightgray;
  }

  tbody {
    tr {
      border-bottom: 1px solid lightgray;
    }

    tr:hover {
      background-color: hsl(0, 0%, 95%);

      .disabled-icon {
        opacity: 100%;
      }
    }
  }
}

.helpText {
  display: none;
}

.deleteMessage {
  display: none;
  text-align: end;
  padding-top: 25px;

  span {
    background: gray;
    padding: 10px;
      border-radius: 8px 0 0 8px;
      color: white;

    &.undo {
      border-radius: 0 8px 8px 0;
      padding-left: 0;
      color: lightblue;
      font-style: oblique;
      text-decoration: underline;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}