/* CSS for Body */
.App {
  height: 500px;
  width: 500px;
  text-align: center;
  margin: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


/* CSS for Header section */
.header {
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  margin: 20px;
  width: 100%;
}

.search-bar svg {
  position: absolute;
  color: gray;
  height: 0.75rem;
  padding-top: 10px;
}

.search-bar input {
  padding-left: 20px;
  border-radius: 8px;
  border: 1px solid gray;
  width: 80%;
}